@import '../../../shared/base.scss';
@import '../../../shared/variables.scss';

.nav-bar{
	&__list{

		&__link{
			width: 100%;
			background-color: $graySecondaryColor;
			will-change: max-height;
			overflow: hidden;
			height: auto;
			max-height: 0;
			transition: max-height 400ms linear;
			
			&--activate{
				max-height: 500px;

				@include large{
					position: fixed;
					width: 244px;
				}
			}
		}

		&__item-link{
			&:hover{
				background-color: $grayPrimaryColor;
			}	
		}

		&__subitem-link{
			width: 100%;
			height: 100%;
			display: block;
			text-decoration: none;
			color: black;
			font-size: 30px;
			padding-top: 20px;
			text-align: center;
			margin: 0;

			@include large{
				height: unset;
				text-align: left;
				display: unset;
			}
		}
	}
}
